

<h1><%= @user.username %></h1>
<br>
<h2 style="color: <%= Faker::Color.hex_color %>"><%= @user.email %></h2>
<br>

<%= link_to("Delete", user_path(@user), method: :delete) %>
<%= link_to("Edit", edit_user_path(@user), method: :get) %>

<%= link_to("Back", users_path)%>

    

 <br>
 <h2 style="color: <%= Faker::Color.hex_color %>"><%= @user.username%>'s posts:</h2>
<% @posts.each do |t| %> 

	<p> <%= t.hipster %> </p>
	<h6> <%= t.created_at%></h6>
<% end %>




<br>
